$color:#fcf;
body{
user-select:none;
background-color: $color;
}
img{
-webkit-user-drag:none;
}

.logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
}
//Home page layout style
.site-layout .site-layout-background {
    background: #fff;
}

.site-layout .crumb{
    line-height: 64px;
}
